 @import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
 Background-color: #E6E6FA;
  text-align: center;
 content: justify;

 h1 {
  font-family: 'Fauna One', serif;
 }
div.minty {
background-color: #3EB489;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
}


